<!DOCTYPE htmls n>
<html lang="en">
<head>
<meta charset="utf-8">
<title> Team Red Raider </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
<link rel="stylesheet" href="css/animate.css">

<!-- favicons -->
<link rel="shortcut icon" href="header.ico" type="image/x-icon">
<link rel="icon" href="header.ico" type="image/x-icon">

<!-- Resource style -->
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/owl.theme.css">
<link rel="stylesheet" href="css/ionicons.min.css">
<link rel="stylesheet" href="css/code.css">
<!-- Resource style -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div class="wrapper">
  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container"> 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand page-scroll" href="#main"><img src="images/header.jpg" width="80" height="30" alt="iLand" /></a> </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a class="page-scroll" href="#main">Home</a></li>
            <li><a class="page-scroll" href="#classes"> Features </a></li>
            <li><a class="page-scroll" href="#review"> Team </a></li>
            <li><a class="page-scroll" href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid -->
  
  <div class="main app form" id="main"><!-- Main Section-->
    <div class="hero-section">
      <div class="container nopadding">
        <div class="col-md-12">
          <div class="hero-content text-center">
            <h1 class="wow fadeInUp" data-wow-delay="0.1s"> Project Portal </h1>
            <p class="wow fadeInUp" data-wow-delay="0.2s"> Pet identification system that grants or denies entry. </p>
        </div>
      </div>
    </div>
  </div>
</div>

    <!-- Classes Section -->
    <div class="pitch text-center" id="classes">
      <div class="container">
        <div class="pitch-intro">
          <h1 class="wow fadeInDown" data-wow-delay="0.2s"> Everything you need to know </h1>
          <p class="wow fadeInDown" data-wow-delay="0.2s"> An imagine recognition system that provides secured access! </p>
        </div>
        <div class="col-md-12">
          <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
            <div class="pitch-icon"> <i class="ion-ios-checkmark-outline"></i> </div>
            <div class="pitch-content">
              <h1> Imagine sensor </h1>
              <p> Image recognition </p>
            </div>
          </div>
          <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
            <div class="pitch-icon"> <i class="ion-ios-mic-outline"></i> </div>
            <div class="pitch-content">
              <h1> Ultra Sonic Sensor </h1>
              <p> Used to measure the distance of the object </p>
            </div>
          </div>
          <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
            <div class="pitch-icon"> <i class="ion-ios-folder-outline"></i> </div>
            <div class="pitch-content">
              <h1> Arduino Uno board </h1>
              <p> The central board this controls all the hardware funtionality of the system </p>
            </div>
          </div>
          <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
            <div class="pitch-icon"> <i class="ion-ios-folder-outline"></i> </div>
            <div class="pitch-content">
              <h1> Camera </h1>
              <p> A Camera that takes a picture and feeds it to the neural networks </p>
            </div>
          </div>
          <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
            <div class="pitch-icon"> <i class="ion-ios-folder-outline"></i> </div>
            <div class="pitch-content">
              <h1> Step motor </h1>
              <p>  Used to pull the door open </p>
            </div>
          </div>
          <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
            <div class="pitch-icon"> <i class="ion-ios-folder-outline"></i> </div>
            <div class="pitch-content">
              <h1> Machine Learning </h1>
              <p> The neural network trains the system machine learning  </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Split Feature1 Section -->
    <div class="split-features">
      <div class="col-md-6 nopadding">
        <div class="split-image"> <img class="img-responsive wow fadeIn" src="images/project1.jpg" alt="Image" /> </div>
      </div>
      <div class="col-md-6 nopadding">
        <div class="split-content">
          <h1 class="wow fadeInUp"> What is this project made off? </h1>
          <p class="wow fadeInUp"> We are using Arduino Uno kit with ultra sonic sensor, step-up motor, LED lights, pulley. We used Tensorflow, Python, and machine learning algorithms to identify the imagine of the pet and match it against the database. </p>
          </ul>
        </div>
      </div>
    </div>
     <!-- Split Feature2 Section -->
    <div class="split-features2">
      <div class="col-md-6 nopadding">
        <div class="split-content second">
          <h1 class="wow fadeInUp"> About the project.... </h1>
          <p class="wow fadeInUp"> This project is a combination of hardware and software. We created a website which uses the lastest bootstrap framework, HTML, CSS 3, jQuery, JavaScript, PHP and supports different brower and mobile compatibility. </p>
        </div>
      </div>
      <div class="col-md-6 nopadding">
        <div class="split-image"> <img class="img-responsive wow fadeIn" src="images/project2.jpg" alt="Image" /> </div>
      </div>
    </div>
     <!-- code display -->
	 <div class="block block-inverse block-secondary app-code-block">
	  <div class="container">
	    <div class="row app-align-center">
	      <div class="col-md-5 push-md-7">
	        <pre class="app-code">
				<span>1</span> <span>goCoding! </span> “How is the dog getting in?”
				<span>2</span>
				<span>3</span>  digitalWrite(trigPin1,LOW);
				<span>4</span>    delayMicroseconds(2);
				<span>5</span>      digitalWrite(trigPin1, HIGH);
				<span>6</span>      delayMicroseconds(10);
				<span>7</span>      digitalWrite(trigPin1, LOW);
				<span>8</span>    
				<span>9</span>      duration1 = pulseIn(echoPin1, HIGH);
				<span>10</span>     distance1 = duration1*0.034/2;
				<span>11</span>    
				<span>12</span>   Serial.print("Distance one: ");
				<span>13</span>   Serial.println(distance1);
				<span>14</span>   Serial.print("Duration one: ");
				<span>15</span>   Serial.println(duration1);
		  </pre>
	      </div>

	      <div class="col-md-6 pull-md-5">
	        <h6 class="text-muted text-uppercase"> What does this program do? </h6>
	        <h3> A revolutionary pet identification system! </h3>
	        <p class="lead mb-4 text-muted"> A Face Verification system for pets which grants access through the opening of the door on successful verification. We move a step forward towards Home Security by allowing the system to adds protection on your home by sending images of unverified people to the user. </p>
	      </div>
	    </div>
	  </div>
	</div>
     <!-- Client Section -->
    <div class="review-section" id="review">
      <div class="container">
        <div class="col-md-10 col-md-offset-1">
          <div class="reviews owl-carousel owl-theme">
            <div class="review-single"><img class="img-circle" src="images/adib.jpg" alt="Client Testimonoal" />
              <div class="review-text wow fadeInUp" data-wow-delay="0.2s">
                <p> Making "Impossible" tasks "I-am-possible" is my motto </p>
                <h3> Mostofa Adib Shakib </h3>
                <h3> Computer Engineering with dual minors in Computer Science and Mathematics </h3>
              </div>
            </div>
            <div class="review-single"><img class="img-circle" src="images/ale.jpg" alt="Client Testimonoal" />
              <div class="review-text">
                <p> Anything worth having in life won't come easy </p>
                <h3> Alejandro Nevarez </h3>
                <h3> Electrical Engineering with minor in Mathematics </h3>
              </div>
            </div>
            <div class="review-single"><img class="img-circle" src="images/sam.jpg" alt="Client Testimonoal" />
              <div class="review-text">
                <p> "Imagine Dragons" are awesome! </p>
                <h3>- Samuel Okei </h3>
                <h3> Computer Engineering with dual minors in Computer Science and Mathematics </h3>
              </div>
            </div>
            <div class="review-single"><img class="img-circle" src="images/gau.jpg" alt="Client Testimonoal" />
              <div class="review-text">
                <p> A ship is safe in harbour, but that is not what it's built for. </p>
                <h3>- Gautam Bakliwal </h3>
                <h3> Computer Science with minor in Mathematics </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Footer Section -->
    <div class="footer" id="contact">
      <div class="container">
        <div class="col-md-6 contact">
          <h1>About</h1>
          <p> Adaptable, self-driven, self-motivated. These qualities are among the few that describe Team Red Raider. Every single member has significant knowledge in certain aspects of our project, but the ability to communicate an idea in a simple efficient manner so the rest are able to understand is integral to our learning curve and the success of our team.</p>
          <p> © Copyright, Created by Mostofa Adib Shakib </p>
        </div>
        <div class="col-md-3 contact footer-menu">
          <h1>Social Media</h1>
          <ul>
            <li><a href="https://www.facebook.com/teamredraider/">Facebook</a></li>
            <li><a href="https://github.com/adibshakib">Github</a></li>
          </ul>
        </div>
        <div class="col-md-3 contact">
          <h1> Privacy Policy </h1>
          <a href="/policy">Privacy Policy</a>
      </div>
    </div>
  
  
  <!-- Scroll To Top --> 
  
  <a id="back-top" class="back-to-top page-scroll" href="#main"> <i class="ion-ios-arrow-thin-up"></i> </a> 
  
  <!-- Scroll To Top Ends--> 
  
</div>
<!-- Main Section -->
</div>
<!-- Wrapper--> 

<!-- Jquery and Js Plugins --> 
<script type="text/javascript" src="js/jquery-2.1.1.js"></script> 
<script type="text/javascript" src="js/bootstrap.min.js"></script> 
<script type="text/javascript" src="js/plugins.js"></script> 
<script type="text/javascript" src="js/menu.js"></script> 
<script type="text/javascript" src="js/custom.js"></script> 
<script src="js/jquery.subscribe.js"></script>
</body>
</html>
